html {
  font-family: Merriweather, serif;
}

body {
  background-color: rgb(72, 37, 27);
  color: #fff;
  font-family: Oxygen, sans-serif;
}

.color-brand {
  color: #568c36;
}

.color-brand-dark {
  color: #113c00;
}

a {
  color: #568c36;
}

a:hover {
  color: #113c00;
}

.masthead {
  background-color: rgb(72, 37, 27);
  color: #fff;
  font-family: "Fontdiner Swanky", cursive;
}

.logo {
  width: 64px;
}

.nav {
  position: relative;
  background-color: #e89126;
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;

  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #fff;
  color: #e89126;
}

.nav a:focus {
  border-top: 1px solid #fff;
}

.about {
  position: relative;
  font-family: Oxygen, sans-serif;
}

.about-content {
  background-color: #e89126;
  color: #fff;
}

.img-flex {
  width: 100%;
}

#feedback {
  background-color: rgb(72, 37, 27);
  color: #fff;
  background-image: url("../images/noun-667040.svg");
  background-size: 60px;
}

.contact {
  display: inline-block;
}

.btn {
  background-color: rgb(72, 37, 27);
  color: #fff;
  border-color: #fff;
  border-width: 2px;
}

.btn:hover {
  background-color: #e89126;
  border-color: #fff;
  border-width: 2px;
}

#name, #subject, #email {
  color: #000;
}

@media only screen and (min-width: 38em) {

  .about-content {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: transparent;
  }

  .img-flex {
    margin: 0;
  }

}
