html {
  font-family: Merriweather, serif;
}

.color-brand {
  color: #568c36;
}

.color-brand-dark {
  color: #113c00;
}

a {
  color: #568c36;2
}

a:hover {
  color: #113c00;
}

.max-length {
  margin-left: 0;
  margin-right: 0;
}

.masthead {
  background-color: #5D2B14;
  color: #fff;
  font-family: "Kaushan Script", cursive;
}

.logo {
  width: 64px;
}

.nav {
  position: relative;
  background-color: #E89126;
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;

  color: #fff;
  text-decoration: none;
}

.nav a:hover {
  background-color: #fff;
  color: #E89126;
}

.nav a:focus {
  border-top: 1px solid #fff;
}

.about {
  position: relative;
}

.about-content {
  background-color: #E89126;
  color: #fff;
}


@media only screen and (min-width: 35em) {

  .about-content {
    bottom: 0;
    position: absolute;
    width: 100%;

    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(17, 60, 0, 0), rgba(103, 42, 10, .8));
  }

}
